/* universal selector */
*{
    background-color: black;
    color: white;
}

/* Element Selector */
h1{
    color: yellow;
}

h2, h3, h4 {
    color: paleturquoise;
}


/*  id selector(#) */
#headingOne{
    color: salmon;
}

#headingTwo{
    color: blue;
}

/* class Selector(.) */
.myclass{
    color: mediumspringgreen;
}


/* this is comment */
